.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header > * {
    line-height: 90%;
}

.title {
    margin: 0;
    font-size: 10rem;
}
.subtitle {
    font-size: 4rem;
}

.description {
    font-size: 2rem;
}