.background {
    background-color: var(--background);
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
}
.blob {
    position: absolute;
    z-index: -1;
}
.blueBlob {
    bottom: 0;
    height: 50vh;
    /* background-color: red; */
}

.container {
    min-height: 100vh;
    width: 100%;
    flex: 1; 
}